
*,
body,
html {
  padding-bottom: 0;
  margin: 0;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  position: unfixed;
  width: 100%;
}

header a {
  color: blue;
  text-decoration: none;
}

header ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

/* header li {
  padding-left: 50px;
  padding-right: 50px;
} */

body {
  margin: 0;
  font-family: sans-serif;
  background: #f5f6f7;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 50px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;
}
img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
p{
  width: 91%;
  height: 28%;
  margin: auto;
}
body{
  background-color: #efb762;
}
main {
  padding-top: 5%;
  padding-right: 50px;
  padding-left: 20px;
}
table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
}
td {
  border-bottom: 1px solid #983;
  padding: 10px;
  text-align: left;
}
footer{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
    color: purple;
}
